.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid blu #0051ff;
    border-radius: 5px;
    background-color: #ffffff;
    width: 200px;
    max-height: 400px;
    /* border: 2px solid #000; */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 10px;
    justify-content: space-between;
    position: relative;
}


@media (max-width: 550px) {
    .product{
        
        width: 80%;
    }
}


.image-container {
    width: 100%;
    max-height: 200px;
    min-height: 200px;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.product-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
    align-self: flex-start;;

}

.product-info:hover{
    transform: translateY(-5px);
    transition: 1ms ease-out;
    cursor: pointer;
}

.product-name {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.product-price {
    font-size: 16px;
    margin-bottom: 5px;
    margin: 0;
    font-weight: bolder;
    margin-right: 3px;

}
.price-info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 5px;
    -content: start;
    align-self: flex-start;
}

.price-discount {
    font-size: 10px;
    margin: 0;
    color: #84eb95;
    margin-right: 3px;

}
.actual-price {
    font-size: 12px;
    margin: 0;
    color: #a3a1a1;
    text-decoration: line-through;
}

.product-description {
    font-size: 14px;
    margin: 0;

}

.product-button {
    z-index: 800;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
    justify-self:start;
    align-self: flex-start;
   
}

 .remove     {
    background-color: red; 
}

.out-of-stock {
    background-color: #d9d7d7;
    color: #a3a1a1;
    cursor: not-allowed;
}