.filter-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-self: self-start;
    margin-bottom: 20px;
    width: 300px;
    max-width: 500px;
    min-width: fit-content;
    max-height: 400px;
    padding: 10px;
    border: 0px solid  #0051ff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 110px;
    z-index: 9999;
    background-color: white;
}

@media (max-width: 550px) {
    .filter-section{
        position: relative;
        top: 0;
        width: 100%;
    }
}


.clear-filter h2{
    margin-bottom: 0px;
}

.filter-section h3 {
    margin-bottom: 10px;
}

.filter-section input[type="checkbox"] {
    margin-right: 5px;
    background-color: aliceblue;

}


.filter-section label {
    display: inline-block;
}

.clear-filter-btn {
    margin-top: 10px;
    font-size: large;
    padding: 10px 10px;
    border: 0px solid #000;
    color: white;
    border-radius: 5px;
    background-color: #ff4225;
    cursor: pointer;
}