
.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  padding: 16px;
  width: 100;
  height: max-content;
}

@media (max-width: 450px) {
  .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}